.header-container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 60px;
}

.navigation {
    display: flex;
    align-items: center;
    margin-right: 3px;
}

.navigation a {
    text-decoration: none;
    color: #333;
    font-size: 17px;
    margin-left: 20px;
    transition: color 0.3s ease;
}

.navigation a:hover {
    color: #3a6cf4;
}
